
<div class="contain">

    <button class="buttons" mat-fab (click)="editname()">
        <mat-icon>Edit Names </mat-icon>
    </button>
    <button class="buttons " mat-fab (click)="clicked2($event)">
        <mat-icon> <span class="material-icons" style="font-size: 8rem;" (click)="clicked($event)">
                cached
            </span></mat-icon>
        <p style="
    FONT-SIZE: .8em;
    margin-bottom: 0px;
">Save</p>
    </button>
    <button class="buttons" mat-fab (click)="ramptime()">
        <mat-icon>Passcode</mat-icon>
    </button>
    
</div>
