
.dmxfb
{
width: 2em;
height: 2em;
background-color: black;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 3.5fr 1fr;
  height: 75vh;
  align-items: center;
  justify-items: center;
  padding: .4em;
  
 
}

.load {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr  ;
  align-items: center;
  padding-top: 0em;
}

.load-button {
  display: grid;
  align-items: center;
}


.chheader
{
font-weight: 300;
font-size: 2em;
margin: 0 0 0 0;
padding: .2em 1em .2em 0 ;
color: rgb(0, 0, 0);
width: 100vw;

    margin-left: .5em;

}

.scroller
{
display: flex;
justify-content: center;
align-items: center;
box-sizing: border-box;
height: 80vh;
width: 100%;
}
#Zonename
{
  text-align: center;
}