.clocktiles
{
    height: 80vh;

    
}


.scroller
{
height: 80vh;
width: 100%;
}

.eventitem
{
    margin: 1em;
}


.contain
{
    height: 100%;
}
.time{

    font-size: 3rem;
    text-align: center;
    padding: 0em !important;
}

.aligner
{
padding-top: .8rem ;
margin: 0 ;
font-family: sans-serif;
}


.chheader
{
font-weight: 400;
font-size: 2em;
margin: 0 0 0 0;
padding: .2em 1em .2em 0 ;
color: rgb(0, 0, 0);
width: 100vw;

    margin-left: .5em;

}