
.AreaSelect{
width: 100%;
}

mat-slider {
  width: 100%;
}
.dmxfb
{
width: 2.5em;
height: 2.5em;
border: solid; 
border-width: 2px;
    padding: 1.4em;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  height: 80vh;
  align-items: center;
  justify-items: center;
  padding: .4em;
}

.load {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr  ;
  align-items: center;
  padding-top: 0em;
}

.load-button {
  display: grid;
  justify-items: center;
  margin-bottom: 0em;
  
}
.blackiconcolor {background-color:black;}

.chheader
{
font-weight: 400;
font-size: 2em;
margin: 0 0 0 0;
padding: .2em 1em .2em 0 ;
color: rgb(0, 0, 0);
width: 100vw;

    margin-left: .5em;

}

.scroller
{

height: 85vh;
width:100%;
}


#Zonename
{
  text-align: center;
}

.RL
{
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}







.Scenestab
{

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: inherit;
}

.scenebutton{
  display: grid;
  grid-template-rows: 2fr 1fr;
  width: inherit;
  }

  

.cdk-virtual-scroll-content-wrapper {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  }



  .allon{
    background-color:whitesmoke;
    
margin-left: 2px;
transform: translate(0px,-.1em);


  }