<div style="display: grid;
grid-template-columns: 1fr;
align-items: center;
justify-items: center;" >
<ch5-button label="Area" receivestatelabel="Area.ActiveArea" class="AreaSelect" type="primary" stretch="both"
      (click)="Areapop()" style="padding: 0; margin: 0; font-size: 1.5em; height: 2em; width: inherit;"
      shape="rounded-rectangle">
    </ch5-button>
  </div>
<div class="wrapper">

  <cdk-virtual-scroll-viewport id="loadscroll" itemSize="5" class=" scroller " minBufferPx="2000" maxBufferPx="4000">
    <div *cdkVirtualFor="let item of activeZones; let idx = index" class=" animate__animated animate__fadeIn" >




    <div class="loads" style="max-height: fit-content;">
      <p style="margin: 0em;
      font-size: 1em;">{{activezonelabel[activeZones[idx]]}}</p>
      <P style="margin: 0%; padding: 0% ;"></P>
      <ch5-button class="load-button"  type="secondary" shape="circle" iconClass="fas fa-lightbulb fa-3x "
        iconPosition="top" size="x-small" sendEventOnClick="{{activeZones[idx]*10-9}}"  receiveStateSelected="{{activeZones[idx]*10-9}}">Light
      </ch5-button>
      <ch5-button class="load-button" type="secondary" shape="circle" size="x-small" 
        iconClass="fas fa-plug fa-3x" iconPosition="top" sendEventOnClick="{{activeZones[idx]*10-8}}" receiveStateSelected="{{activeZones[idx]*10-8}}">EM
      </ch5-button>

      <ch5-button class="load-button" type="secondary" shape="circle" iconClass="fas fa-plug fa-3x"
        iconPosition="top" size="x-small" sendEventOnClick="{{activeZones[idx]*10-7}}"receiveStateSelected="{{activeZones[idx]*10-7}}" > Normal
      </ch5-button>
      <ch5-button class="load-button"  type="secondary" shape="circle" iconClass="fas fa-lock fa-2x"
      iconPosition="top" size="x-small" sendEventOnClick="{{activeZones[idx]*10-6}}" receiveStateSelected="{{activeZones[idx]*10-6}}"  >Lock
    </ch5-button>
    </div>



      
      <!-- <div class="container">
        <p id="Zonename">{{activezonelabel[activeZones[idx]]}}</p>
        <ch5-slider stretch="width" handleShape="circle" orientation="horizontal" tapSettable="true"
          style="padding: 1em 2em 2em 2em;" sendEventOnChange="{{activeZones[idx]}}"
          receiveStateValue="{{activeZones[idx]}}" tooltipshowtype="auto" tooltipdisplaytype="%">
        </ch5-slider>
      </div> -->
      <!-- <div [ngStyle]="dmxfb[activeZones[idx]-1]" *ngIf="DMXactive[activeZones[idx]-1] == 1" [innerHtml]="htmlToAdd"
        (click)="DMXcall(activeZones[idx])">
      </div> -->
    </div>
  </cdk-virtual-scroll-viewport>


  <!-- <div class="Scenestab">
    <ch5-button label="Area" receivestatelabel="Area.ActiveArea" class="AreaSelect" type="primary" stretch="both"
      (click)="Areapop()" style="padding: 0; margin: 0; font-size: 1.5em; height: 6em; width: inherit;"
      shape="rounded-rectangle">
    </ch5-button>
    <div class="RL">
      <ch5-button style="font-size: 1em; margin: .4em;" sendeventontouch="Scenes.Raise" type="primary" label="Raise"
        iconClass="fa fa-chevron-up" shape="circle">
      </ch5-button>
      <ch5-button style="font-size: 1em; margin: .4em;" shape="circle" sendeventontouch="Scenes.Lower" label="Lower"
        type="primary" iconClass="fa fa-chevron-down">
      </ch5-button>
    </div>
    <div class="scenebutton">
      <ch5-button label="Scenes" receivestatelabel="Scenes.ActiveScene" class="AreaSelect" type="primary" stretch="both"
        (click)="Scenepop()" style="padding: 0; margin: 0; font-size: 1.5em; height: 6em; width: inherit;"
        shape="rounded-rectangle">
      </ch5-button>
      <button mat-button style="
    height: 2em;
    margin: .2em;
    font-size: 1.5em;
    background: whitesmoke;" (click)="Scenesave()">Save Scene</button>
    </div>
  </div> -->

</div>