<ch5-triggerview class="main-swiper" activeView="{{ rout.active }}" gestureable="false" endless="false"
  style="margin: 0 0;" disableanimation="true">
  <ch5-triggerview-child style="width: 100vw;">
    <app-scenes></app-scenes>
  </ch5-triggerview-child>
  <ch5-triggerview-child style="width: 100vw;">
    <app-utilities></app-utilities>
  </ch5-triggerview-child>
  <ch5-triggerview-child style="width: 100vw;">
    <app-view3></app-view3>
  </ch5-triggerview-child>
  <ch5-triggerview-child style="width: 100vw;">
    <app-view4></app-view4>
  </ch5-triggerview-child>
  <ch5-triggerview-child style="width: 100vw;">
    <app-view5></app-view5>
  </ch5-triggerview-child>
</ch5-triggerview>
<div class="aligner">

  <button class="buttons" mat-fab (click)="onClick(1)">
    <mat-icon class="fas fa-lightbulb fa-2x"></mat-icon>
  </button>

  <button class="buttons" mat-fab (click)="onClick(2)">
    <mat-icon class="fab fa-youtube fa-2x"></mat-icon>
  </button>
  <button class="buttons" mat-fab (click)="onClick(3)">
    <mat-icon class="fas fa-home fa-2x"></mat-icon>
  </button>
  <button class="buttons" mat-fab (click)="onClick(4)">
    <mat-icon class="fas fa-edit fa-2x"></mat-icon>
  </button>
  <button class="buttons" mat-fab (click)="onClick(5)">
    <mat-icon class="fas fa-calendar-alt fa-2x"></mat-icon>
  </button>


</div>