<p class="chheader">
  Lighting
</p>
<div class="wrapper">

  <div>
    <p class="text">Select Area</p>
    <ch5-list id="areas" itemWidth="100%" scrollbar="true" receivestatesize="Area.Size" orientation="vertical"
      indexId="idx" maxheight="50vh">
      <template ngNonBindable>
        <ch5-button type="primary" style="height: 6em; padding: 0; margin: 0;" stretch="both"
          receivestatelabel="Area.AreaName{{idx}}" size="regular" shape="rounded-rectangle"
          receivestateselected="Area.AreaSelected{{idx}}" sendEventOnClick="Area.AreaSelect{{idx}}">
        </ch5-button>
      </template>
    </ch5-list>
  </div>

  <cdk-virtual-scroll-viewport id="loadscroll" itemSize="120" class=" scroller">
    <div *cdkVirtualFor="let item of activeZones; let idx = index" class="loads">
      <ch5-button id="leftbutton" class="load-button" type="primary" shape="circle" size="x-small"
        iconClass="far fa-lightbulb fa-3x" iconPosition="top" sendEventOnClick="{{activeZones[idx]*10-8}}">
      </ch5-button>
      <div class="container">
        <p id="Zonename">{{activezonelabel[activeZones[idx]]}}</p>
        <ch5-slider stretch="width" handleShape="circle" toolTipShowType="auto" orientation="horizontal"
          tapSettable="true" toolTipShowType="on" style="padding: 1em 2em 2em 2em;"
          sendEventOnChange="{{activeZones[idx]}}" receiveStateValue="{{activeZones[idx]}}">
        </ch5-slider>
      </div>
      <ch5-button class="load-button" id="rightbutton" type="primary" shape="circle" iconClass="fas fa-lightbulb fa-3x"
        iconPosition="top" size="x-small" sendEventOnClick="{{activeZones[idx]*10-9}}">
      </ch5-button>
      <div [ngStyle]="dmxfb[activeZones[idx]-1]" *ngIf="DMXactive[activeZones[idx]-1] == 1" [innerHtml]="htmlToAdd"
        (click)="DMXcall(activeZones[idx])">
      </div>
    </div>
  </cdk-virtual-scroll-viewport>


  <div>
    <p class="text" style="font-size:1.75em; margin: 0;" data-ch5-textcontent="Area.ActiveArea"></p>
    <p class="text" style="font-size:1.5em; margin: 0;">Recall Scenes</p>
    <ch5-list id="scene" itemWidth="100%" scrollbar="true" size="5" orientation="vertical" indexId="idx">
      <template ngNonBindable>
        <ch5-button type="primary" style="height: 4em; padding: 0; margin: 0;" stretch="both" id="btn_id" size="regular"
          shape="rounded-rectangle" sendeventontouch="Scenes.Scenes{{idx}}" sendeventonclick="Scenes.Scenes{{idx}}"
          receivestatelabel="Scenes.ScenesName{{idx}}">
        </ch5-button>
      </template>
    </ch5-list>
  </div>


</div>